.header(ng-controller="HeaderController")
  .header-left
    .brand TvChous
    form(ng-submit="changeQuery(query)")
      input(type="text", ng-model="query", placeholder="Search...")

  .header-right
    a.icon(ui-sref="home")
      i(class="ion-ios7-home-outline")
    a.icon(ng-click="previous()")
      i(class="ion-ios7-arrow-left")
    a.icon(ng-click="next()")
      i(class="ion-ios7-arrow-right")
    a.icon(ui-sref="config")
      i(class="ion-ios7-settings-strong")

