.header(ng-controller="HeaderController")
  a(ui-sref="home")
    i(class="fa fa-home")
  a
    i(class="fa fa-chevron-left")
  a
    i(class="fa fa-chevron-right")

  input(type="text", ng-model="query", placeholder="Search...", ng-keyup="changeQuery(query)")

  a(ui-sref="config")
    i(class="fa fa-cog")

