spinner(wait-for="episode")
.show-episode(ng-if="episode")
  .show-episode-details
    h2 {{episode.fullId}} {{episode.title}}
    p {{episode.overview}}
    img(ng-src="{{episode.screen}}")


  spinner(wait-for="episode.torrents")
  table.torrents(ng-if="episode.torrents")
    tbody
      tr(ng-repeat="torrent in episode.torrents")
        td
          a(ng-click="downloadTorrent(torrent)") {{torrent.title}}
        td.status {{torrent.seeds}}/{{torrent.leechers}}