.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $grey;
  border-bottom: 1px solid $border-color;
  padding: 10px 20px;
  display: flex;
  align-items: baseline;

  .header-left {

  }

  .header-center {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
  }

  .header-right {

  }


  a {
    font-size: 30px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  form {
    width: 100%;
  }

  input, input[type="text"] {
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    font-weight: 100;
    outline: none;
  }
}