

* {
  box-sizing: border-box;
}

html {
  color: $lightGrey;
}

body {
  margin: 0;
  background-color: $black;
}

a {
  cursor: pointer;
  //color: $lightGrey;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  color: #fff;
}

$header-height: 60px;

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $grey;
  border-bottom: 1px solid $border-color;
  padding: 10px 20px;

  i {
    font-size: 30px;
    margin-right: 10px;
  }

  input, input[type="text"] {
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #fff;
    width: 400px;
    font-weight: 100;
  }
}

.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-content {
  padding-top: $header-height;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 2px;
}

.shows-menu {
  width: 250px;
  height: 100%;
  overflow-y: scroll;
  background-color: $grey;
}

.show {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.show header {
  padding: 20px;
  display: flex;
  flex-direction: row;

  .poster img {
    width: 100px;
    height: auto;
  }

  .description {
    flex: 1;
    margin-left: 20px;

    h1 {
      color: #fff;

    }
  }
}

.show-content {

}

.show-episode-details {
  padding: 0 20px 20px 20px;
}

ul.inline {
  li {
    display: inline-block;
  }
}

.aired {
  color: $green;
}

table {
  width: 100%;
  border-collapse: collapse;

  td {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 7px;

    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 20px;
    }
  }
}

.episodes-table {
  .is-aired {
    width: 20px;
  }

  .aired-date {
    width: 130px;
  }

  .utorrent {
    width: 100px;
  }

  .actions {
    width: 70px;
    text-align: right;

    span {
      margin-left: 10px;
    }
  }
}

.torrents-table {
  .status {
    width: 120px;
  }
}

.poster-list {
  @include clearfix;
}

.poster-list-item {
  display: block;
  float: left;

  img {
    width: 200px;
    height: auto;
    display: block;
  }
}

.favorites {

}

.subtitles-status {
  font-variant: small-caps;
}

.subtitles-status-none {
  color: $lightGrey;
}

.subtitles-status-some {
  color: orange;
}

.subtitles-status-all {
  color: $green;
}
