$black: #121314;
$grey: #1F2022;
$green: #89D201;
$border-color: #323438;
$lightGrey: #898A8E;

* {
  box-sizing: border-box;
}

html {
  background-color: $black;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: $lightGrey;
}

body {
  margin: 0;
}

a {
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

$header-height: 40px;

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $grey;
  border-bottom: 1px solid $border-color;
}

.shows-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: $header-height;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 5px 2px;
}

.shows-menu {
  width: 250px;
  height: 100%;
  overflow-y: scroll;
  background-color: $grey;
}

.show-details {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.show-details header {
  padding: 20px;
  display: flex;
  flex-direction: row;

  .poster img {
    width: 100px;
    height: auto;
  }

  .description {
    flex: 1;
    margin-left: 20px;

    h1 {
      color: #fff;

    }
  }
}

ul.inline {
  li {
    display: inline-block;
  }
}


.aired {
  color: $green;
}


.episodes-table {
  width: 100%;
  border-collapse: collapse;

  td {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 7px;
  }

  .is-aired {
    width: 20px;
  }

  .aired-date {
    width: 130px;
  }

  .download {
    width: 60px;
  }
}
